* {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(24, 24, 24);
}

h1 {
    color: white;
    font-size: 3rem;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
    font-family: 'Teko', sans-serif;
}

button {
    width: 250px;
    cursor: pointer;
    border: none;
    font-size: 2rem;
    transition: 250ms;
    background-color: rgb(37, 37, 37);
    color: white;
    border-radius: 10px;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
    font-family: 'Teko', sans-serif;
}

button:hover {
    background-color: rgb(56, 56, 56);
}

.login {
    width: 50%;
    height: 300px;
    position: absolute;
    top: 150px;
    left: 0px;
    right: 0px;
    margin: auto;
    max-width: 700px;
    display: none;
}

.login h1 {
    font-size: 6rem;
    text-align: center;
    color: white;
}

.login span {
    position: absolute;
    color: white;
    background-color: red;
    font-size: 3rem;
    left: 0px;
    right: 0px;
    top: 115%;
    width: 60%;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    display: none;
}

.login-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    height: 100%;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(59, 59, 59);
}

.login-form input {
    width: 100%;
    height: 45px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 15px;
    border: none;
    color: white;
    background: rgb(71, 71, 71);
    box-shadow: inset 1px 5px 15px rgb(28, 28, 28);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-form input:focus {
    outline: none;
}

.login-form input::placeholder {
    color: rgb(118, 118, 118);
}

.login-form div {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.login button {
    width: 60%;
    height: 40px;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(43, 43, 43);
    margin-top: 20px;
    transition: 250ms;
}

.login button:hover {
    width: 65%;
}



/*Coin project*/

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.container nav {
    position: absolute;
    position: fixed;
    height: 100vh;
    width: 70px;
    background-color: rgb(35, 35, 35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-coin,
.edit-coin {
    width: 40px;
    height: 40px;
    font-size: 3rem;
    border: none;
    background: none;
    font-weight: 500;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 250ms;
    color: rgb(0, 0, 0);
    background-color: rgb(68, 68, 68);
    border-radius: 100%;
}

.create-coin img {
    transform: rotate(45deg);
}

.create-coin:hover,
.delete-coin:hover,
.edit-coin:hover {
    scale: 0.9;
}

nav img {
    width: 26px;
    height: 26px;
    filter: invert(100%);
}


/*coin container*/
.coins-container {
    width: 70%;
    margin: 0 auto;
    padding-top: 100px;
}

.coins-container h1 {
    text-align: left;
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
    font-family: 'Teko', sans-serif;
    font-size: 4rem;
}

.total-projects {
    font-size: 1.6rem;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
    font-family: 'Teko', sans-serif;
    color: white;
    font-weight: 100;
}

.coins {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    max-width: 1500px;
    overflow-y: scroll;
}

.coins::-webkit-scrollbar {
    width: 2px;
}

.coin {
    position: relative;
    width: 250px;
    height: 300px;
    margin-top: 40px;
    margin-right: 40px;
    background-color: rgb(35, 35, 35);
    border-radius: 15px;
    padding: 10px;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
    font-family: 'Teko', sans-serif;
    color: white;
    position: relative;
}

.delete {
    position: absolute;
    top: 10px;
    right: 8px;
    width: 40px;
    height: 40px;
}

.delete img {
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

.coin h3 {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 130px;
    font-size: 1.8rem;
    font-weight: 100;
}

.coin p {
    padding-left: 10px;
    font-size: 1.4rem;
}

.details-project {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 1.8rem;
    width: 100px;
    padding: 3px;
    border: none;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
    font-family: 'Teko', sans-serif;
    text-align: left;
    color: rgb(255, 255, 255);
    background: none;
    cursor: pointer;
    transition: 250ms;
}

.details-project:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}

.detalhe {
    position: absolute;
    width: 7px;
    height: 50px;
    background-color: rgb(93, 181, 243);
    top: 60px;
    left: -3px;
}

/*coins containers*/
.create-coin-container,
.edit-coin-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(24, 24, 24);
    top: 0px;
    display: none;
    text-align: center;
}

.close-create-section,
.close-edit-section {
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 3rem;
    border: none;
    background: none;
    font-weight: 500;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border-radius: 100%;
    transition: 250ms;
}

.close-create-section:hover,
.close-edit-section:hover {
    background-color: rgb(74, 74, 74);
}

.close-create-section img,
.close-edit-section img {
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

.create-coin-container form,
.edit-coin-container form {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.create-coin-container input,
.edit-coin-container input {
    width: 100%;
    height: 45px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 15px;
    border: none;
    color: white;
    background: rgb(71, 71, 71);
    box-shadow: inset 1px 5px 15px rgb(28, 28, 28);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.create-coin-container input:focus,
.edit-coin-container input:focus {
    outline: none;
}

.create-coin-container textarea,
.edit-coin-container textarea {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 15px;
    border: none;
    color: white;
    background: rgb(71, 71, 71);
    box-shadow: inset 1px 5px 15px rgb(28, 28, 28);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.create-coin-container textarea:focus,
.edit-coin-container textarea:focus {
    outline: none;
}

.create-project-btn {
    padding: 8px;
}

.create-project-btn:hover {
    width: 300px;
}



/*date*/
.date {
    position: absolute;
    width: 200px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
    font-family: 'Teko', sans-serif;
    color: white;
}