* {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(24, 24, 24);
}

h1 {
    color: white;
    font-size: 3rem;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
    font-family: 'Teko', sans-serif;
}

button {
    width: 250px;
    cursor: pointer;
    border: none;
    font-size: 2rem;
    transition: 250ms;
    background-color: rgb(37, 37, 37);
    color: white;
    border-radius: 10px;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
    font-family: 'Teko', sans-serif;
}

button:hover {
    background-color: rgb(56, 56, 56);
}

/*Coin project*/
.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.container nav {
    position: absolute;
    position: fixed;
    height: 100vh;
    width: 70px;
    background-color: rgb(35, 35, 35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-coin,
.create-report-icon {
    width: 40px;
    height: 40px;
    font-size: 3rem;
    border: none;
    background: none;
    font-weight: 500;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 250ms;
    border-radius: 100%;
}

.create-coin:hover,
.create-report-icon:hover {
    background: none;
    scale: 1.1;
}

.create-coin img {
    transform: rotate(45deg);
}

nav img {
    width: 26px;
    height: 26px;
    filter: invert(30%);
}


/*coin container*/
.coins-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}

.date-filter-container {
    width: 200px;
    height: 100%;
    background-color: white;
}

.search-form {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 20px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    width: 400px;
    height: 100%;
    padding: 10px;
    font-size: 1.6rem;
    border: none;
    border-radius: 5px;
}

#search:focus {
    outline: none;
}

.return-menu {
    position: absolute;
    bottom: 250px;
    left: 100px;
    padding: 10px;
    font-size: 2.2rem;
    display: none;
}

.coins-container h1 {
    text-align: left;
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
    font-family: 'Teko', sans-serif;
    font-size: 4rem;
}

.total-projects,
.total-projects-price {
    font-size: 1.6rem;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
    font-family: 'Teko', sans-serif;
    color: white;
    font-weight: 100;
}

@keyframes fadeIn {
    0% {
        scale: 0;
    }

    100% {
        scale: 1;
    }
}

.delete-confirm {
    position: absolute;
    width: 90%;
    height: 95vh;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(24, 24, 24, 0.9);
    display: none;
    transition: 250ms;
    animation: fadeIn 250ms;
    z-index: 5;
}

.delete-confirm h3 {
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
    font-family: 'Teko', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: 25%;
}

.delete-confirm button {
    width: 20%;
    padding: 5px;
    margin: 10px;
    font-size: 2.2rem;
}

.confirm-delete-btn {
    background-color: green;
}

.confirm-delete-btn:hover {
    background-color: rgb(1, 106, 1);
}

.cancel-delete-btn {
    background-color: rgb(233, 54, 54);
}

.cancel-delete-btn:hover {
    background-color: rgb(192, 42, 42);
}

.delete-confirm div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.coins {
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 50px;
    justify-content: left;
    flex-wrap: wrap;
    max-width: 1500px;
    overflow-y: scroll;
}

.coins::-webkit-scrollbar {
    width: 2px;
}

.coins h1 {
    color: gray;
}

.coin {
    position: relative;
    width: 250px;
    height: 300px;
    margin-top: 40px;
    margin-right: 40px;
    background-color: rgb(35, 35, 35);
    border-radius: 15px;
    padding: 10px;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
    font-family: 'Teko', sans-serif;
    color: white;
    position: relative;
    transition: 250ms;
}

.coin:hover {
    scale: 1.025;
}

.delete,
.close-details {
    position: absolute;
    top: 10px;
    right: 8px;
    width: 40px;
    height: 40px;
}

.edit {
    position: absolute;
    right: 8px;
    width: 40px;
    height: 40px;
    bottom: 10px;
}

.delete img,
.close-details img,
.edit img {
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

.coin h3 {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 100px;
    font-size: 2.2rem;
    font-weight: 100;
}

.coin p {
    padding-left: 10px;
    font-size: 2rem;
}

.details-project-btn {
    margin-left: 10px;
    margin-top: 30px;
    font-size: 1.8rem;
    width: 100px;
    padding: 3px;
    border: none;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
    font-family: 'Teko', sans-serif;
    text-align: left;
    color: rgb(255, 255, 255);
    background: none;
    cursor: pointer;
    transition: 250ms;
}

.details-project-btn:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}

.details-container {
    position: absolute;
    width: 90%;
    height: 90vh;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 24, 0.8);
    display: none;
}

.details-content {
    display: none;
}

.details-text {
    width: 40%;
    height: 60%;
    margin: 0 auto;
    margin-top: 150px;
    padding: 10px;
    background-color: rgb(48, 48, 48);
    border-radius: 20px;
    overflow-y: scroll;
}

.details-text h1 {
    text-align: center;
    margin-top: 20px;
}

.details-text p {
    color: white;
    font-size: 2rem;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
    font-family: 'Teko', sans-serif;
    max-width: 70%;
    word-wrap: break-word;
    margin: 0 auto;
    margin-top: 20px;
    text-indent: 20px;
}

.coin-decoration1,
.coin-decoration2 {
    position: absolute;
    height: 50px;
    width: 3px;
    left: 0px;
    background-color: rgb(174, 93, 17);
}

.coin-decoration1 {
    top: 60px;
}

.coin-decoration2 {
    bottom: 60px;
}

.invisible {
    display: none;
}

.not-found-content {
    display: none;
}

.not-found-content img {
    position: absolute;
    width: 200px;
    height: auto;
    filter: invert(13%);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    animation: float infinite 2500ms;
}

@keyframes float {
    0% {
        filter: invert(13%);
        padding-bottom: 0px;
    }

    50% {
        filter: invert(20%);
        padding-bottom: 40px;
    }

    100% {
        filter: invert(13%);
        padding-bottom: 0px;
    }
}

/*coins containers*/
.create-coin-container,
.edit-coin-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(24, 24, 24);
    top: 0px;
    display: none;
    text-align: center;
}

.close-create-section,
.close-edit-section {
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 3rem;
    border: none;
    background: none;
    font-weight: 500;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border-radius: 100%;
    transition: 250ms;
}

.close-create-section:hover,
.close-edit-section:hover {
    background-color: rgb(74, 74, 74);
}

.close-create-section img,
.close-edit-section img {
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

.create-coin-container form,
.edit-coin-container form {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.create-coin-container input,
.edit-coin-container input {
    width: 100%;
    height: 45px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 15px;
    border: none;
    color: white;
    background: rgb(71, 71, 71);
    box-shadow: inset 1px 5px 15px rgb(28, 28, 28);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.create-coin-container input:focus,
.edit-coin-container input:focus {
    outline: none;
}

.create-coin-container textarea,
.edit-coin-container textarea {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 15px;
    border: none;
    color: white;
    background: rgb(71, 71, 71);
    box-shadow: inset 1px 5px 15px rgb(28, 28, 28);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.create-coin-container textarea:focus,
.edit-coin-container textarea:focus {
    outline: none;
}

.create-project-btn {
    padding: 8px;
    background-color: rgb(174, 93, 17);
}

.create-project-btn:hover {
    width: 300px;
    background-color: rgb(214, 127, 45);
    box-shadow: 1px 1px 10px rgb(214, 127, 45);
}

#projectID {
    display: none;
}

/*report*/

.report-page {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    background-color: rgb(24, 24, 24);
    display: none;
}

.close-report-btn,
.close-data-btn {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 20px;
    right: 20px;
    padding: 5px;
}

.close-report-btn img,
.close-data-btn img {
    width: 100%;
    height: 100%;
    filter: invert(100%);
}

.report {
    width: 40%;
    height: 70px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.show-report-data {
    width: 75%;
    height: 100%;
    border-radius: 15px;
    font-size: 2.4rem;
}

.get-csv-btn {
    width: 15%;
    height: 60%;
    border-radius: 15px;
    font-size: 2rem;
    background-color: rgb(174, 93, 17);
}

.get-csv-btn:hover {
    background-color: rgb(214, 127, 45);
    box-shadow: 1px 1px 10px rgb(214, 127, 45);
}

.report-data-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    background-color: rgb(24, 24, 24, 0.9);
    display: none;
}

.data {
    position: relative;
    width: 50%;
    height: 60vh;
    background-color: rgb(53, 53, 53);
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 60px;
    overflow-y: scroll;
}

.data p {
    color: white;
    font-size: 2rem;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
    font-family: 'Teko', sans-serif;
    line-height: 20px;
    width: 60%;
    margin: 0 auto;
}

/*date*/
.date {
    position: absolute;
    width: 200px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Protest Guerrilla', sans-serif;
    font-family: 'Teko', sans-serif;
    color: white;
}